:root {
  --lime-green: hsl(163, 72%, 41%);
  --bright-red: hsl(356, 69%, 56%);
  --facebook: hsl(214, 58%, 50%);
  --twitter: hsl(209, 86%, 61%);
  --instagram-1: hsl(37, 97%, 70%);
  --instagram-2: hsl(329, 70%, 58%);
  --youTube: hsl(348, 97%, 39%);
  --dark-grayish-text: hsl(228, 12%, 44%);
  --whiteHeader: hsl(230, 75%, 98%);
  --whiteCard: hsl(222, 50%, 96%);
  --principalText: hsl(225, 17%, 14%);
  --card-box-shadow-1: rgba(0,0,0,.1);
  --card-box-shadow-2: rgba(0,0,0,.05);
  --veryDarkBlueBG: hsl(0, 0%, 100%);
  --toggleBG: hsl(222, 50%, 96%);
  --toggleCircleBG: hsl(228, 12%, 44%);
}
* {
  box-sizing: border-box;
}
body {
  background-color: var(--veryDarkBlueBG);
  color: var(--principalText);
  font-family: 'Inter', sans-serif;
  margin: 0;
}
.wrapper {
  padding: 0 30px;
}
.grid {
  display: grid;
  grid-row-gap: 25px;
}
.dark-mode {
  display: flex;
  justify-content: space-between;
  padding-top: 1em;
}
.header {
  background-color: var(--whiteHeader);
  padding-bottom: 100px;
  border-radius: 0 0 20px 20px;
  padding-top: 2em;
  box-shadow: 0 10px 15px -3px var(--card-box-shadow-1),0 4px 6px -2px var(--card-box-shadow-2);
}
.header h1 {
  margin: 0;
  font-size: 1.7em;
}
.header-total {
  color: var(--dark-grayish-text);
  margin: .5em 0;
  font-weight: bold;
  border-bottom: 1px solid var(--dark-grayish-text);
  padding-bottom: 1.5em;
}
.checkbox {
  display: none;
}
.checkbox:checked ~ .toggle:before {
  transform: translate(0);
}
.toggle {
  width: 80px;
  height: 40px;
  display: block;
  border-radius: 50px;
  background: var(--toggleBG);
  padding: 5px;
  box-sizing: border-box;
  cursor: pointer;
  user-select: none;
  box-shadow: 0 10px 15px -3px var(--card-box-shadow-1),0 4px 6px -2px var(--card-box-shadow-2);
}
.toggle::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--toggleCircleBG);
  transform: translate(40px);
  transition: .3s;
  will-change: transform;
  box-shadow: 0 10px 15px -3px var(--card-box-shadow-1),0 4px 6px -2px var(--card-box-shadow-2);
}
.top-cards {
  margin-top: -50px;
  margin-bottom: 3em;

}
.card {
  border-radius: 8px;
  overflow: hidden;
  background-color: var(--whiteCard);
  text-align: center;
  padding: 1.7em 0;
  position: relative;
  box-shadow: 0 10px 15px -3px var(--card-box-shadow-1),0 4px 6px -2px var(--card-box-shadow-2);
}
.card::before {
  content: "";
  height: 4px;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}
.card.facebook::before {
  background-color: var(--facebook);
}
.card.twitter::before {
  background-color: var(--twitter);
}
.card.instagram::before {
  /* background-color: var(--instagram-1); */
  background: linear-gradient(to right, var(--instagram-1), var(--instagram-2));
}
.card.youtube::before {
  background-color: var(--youTube);
}
.card-title {
  font-size: .9em;
  font-weight: bold;
  color: var(--dark-grayish-text);
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-title img {
  margin-right: 5px;
}

.card-followers-number {
  font-size: 3em;
  font-weight: bold;
}
.card-followers-title {
  color: var(--dark-grayish-text);
  display: block;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: .75em;
}
.card-today {
  margin-top: 20px;
  color: var(--lime-green);
  font-size: .7em;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-today img {
  margin-right: 5px;
}

/* overview */
.overview {  
  margin-bottom: 100px;
  padding-bottom: 2em;
}
h2 {
  color: var(--dark-grayish-text);
}
.card-small {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 1em;
  border-radius: 8px;
  background-color: var(--whiteCard);
  padding: 1.7em;
  box-shadow: 0 10px 15px -3px var(--card-box-shadow-1),0 4px 6px -2px var(--card-box-shadow-2);
}
.card-small p {
  margin: 0;
}
.card-small-views {
  font-size: .9em;
  font-weight: bold;
  color: var(--dark-grayish-text);
}
.card-small-icon {
  text-align: right;
}
.card-small-number {
  font-size: 2.7em;
  font-weight: bold;
  line-height: .9;
}
.card-small-percentage {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  color: var(--lime-green);
  font-size: .9em;
  font-weight: bold;
}
.card-small-percentage.is-danger {
  color: var(--bright-red);
}
.card-small-percentage span {
  display: flex;
  align-items: center;
}
.card-small-percentage img {
  margin-right: 5px;
}

/* Responsive */
 @media screen and (min-width: 480px) {
  .grid {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 25px;
  }
  .wrapper {
    max-width: 1240px;
    margin: 0 auto;
  }
 }

 @media screen and (min-width: 768px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .header-total {
    border: none;
  }
  .header-grid {
    display: grid;
    grid-template-columns: 1fr 200px;
  }
 }

 @media screen and (min-width: 1024px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  
 }

 /* Light mode */
 .is-light-mode {
  --dark-grayish-text: hsl(228, 12%, 44%);
  --whiteHeader: hsl(230, 75%, 98%);
  --whiteCard: hsl(222, 50%, 96%);
  --principalText: hsl(225, 17%, 14%);
  --card-box-shadow-1: rgba(0,0,0,.1);
  --card-box-shadow-2: rgba(0,0,0,.05);
  --veryDarkBlueBG: hsl(0, 0%, 100%);
  --toggleBG: hsl(222, 50%, 96%);
  --toggleCircleBG: hsl(228, 12%, 44%);
  transition: .1s ease-in-out;
 }

 /* Dark mode */
 .is-dark-mode {
  --dark-grayish-text:hsl(228, 34%, 66%);
  --whiteHeader: hsl(232, 19%, 15%);
  --whiteCard: hsl(228, 28%, 20%);
  --principalText:  hsl(0, 0%, 100%);
  --veryDarkBlueBG: hsl(230, 17%, 14%);
  --togglebg-1: hsl(210, 78%, 56%);
  --togglebg-2: hsl(146, 68%, 55%);
  --toggleBG: linear-gradient(to right, var(--togglebg-1), var(--togglebg-2));
  --toggleCircleBG:hsl(0, 0%, 100%);
  transition: .1s ease-in-out;
 }
 @media (prefers-color-scheme: dark) {

   :root {
     /* Dark Theme */
     --dark-grayish-text:hsl(228, 34%, 66%);
     --whiteHeader: hsl(232, 19%, 15%);
     --whiteCard: hsl(228, 28%, 20%);
     --principalText:  hsl(0, 0%, 100%);
     --veryDarkBlueBG: hsl(230, 17%, 14%);
     --togglebg-1: hsl(210, 78%, 56%);
     --togglebg-2: hsl(146, 68%, 55%);
     --toggleBG: linear-gradient(to right, var(--togglebg-1), var(--togglebg-2));
     --toggleCircleBG:hsl(0, 0%, 100%);
  }
  
 }